body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #181818;
  font-family: Arial, sans-serif;
}

.calculator {
  background: #222;
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
}

#display {
  width: 100%;
  height: 70px;
  font-size: 32px;
  text-align: right;
  padding: 15px;
  background: black;
  color: #00ff99;
  border: none;
  border-radius: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 60px;
  font-size: 22px;
  border: none;
  border-radius: 10px;
  background: #333;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:active {
  transform: scale(0.95);
}

.op {
  background: rgb(87, 57, 1);
}
.clear {
  background: rgb(110, 7, 7);
}
.equal {
  background: #00aaff;
  grid-row: span 2;
}
.zero {
  grid-column: span 2;
}
